{{!-- <!DOCTYPE html>
<html lang="en"> --}}

{{!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <base href="/">
    <link rel="stylesheet" type="text/css" href='public/assets/css/style.css'>
    <title>Home</title>
    <style>

    </style>
</head> --}}

{{!-- <body>
</body>

</html> --}}
<div class="mainContent">
    <div class="container">
        <div class="results">

        </div>
    </div>
</div>

<script>

</script>
<script>
    $("#generateBtn").on("click", (event) => {
        console.log("generater button pushed")
        $.get('/api/scrapeData/', (data) => {
            console.log(data);
            for (x in data) {
                let header = data[x].header;
                let description = data[x].description;
                let link = data[x].link;
                let card = $("<div>");
                card.attr('class', 'card');
                card.css({
                    "margin": "10px 0px"
                })
                let cardHeader = $('<h5>');
                cardHeader.attr('class', 'card-header');
                cardHeader.html(header)
                card.prepend(cardHeader);
                let cardBody = $('<div>');
                cardBody.attr('class', 'card-body');

                let cardTitle = $('<h5>');
                cardTitle.attr('class', 'card-title');

                cardBody.prepend(cardTitle);
                let cardText = $("<p>");
                cardText.html(description);
                cardText.attr('class', 'card-text');
                cardBody.append(cardText);
                let anchorTag = $('<a>');
                anchorTag.attr({
                    "class": 'btn btn-primary',
                    "href": link,
                    "target": "blank",


                });
                anchorTag.css({
                    "margin": "5px"
                })
                anchorTag.html('Read More');
                cardBody.append(anchorTag);
                let saveBtn = $('<button>');
                saveBtn.attr({
                    "class": 'btn btn-success saveBtn',
                    "header": header,
                    "link": link,
                    "description": description


                });
                saveBtn.html('Save Article');
                cardBody.append(saveBtn)
                card.append(cardBody);
                $('.results').prepend(card);
            };

            $(".saveBtn").click((event) => {
                event.preventDefault();
                let linkSV = event.target.attributes[2].value
                let descriptionSV = event.target.attributes[3].value
                let headerSV = event.target.attributes[1].value
                let article = {
                    "newsHeadLine": headerSV,
                    "link": linkSV ,
                    "summary": descriptionSV
                    
                }
                
                console.log("Header: "+headerSV)
                console.log("Description: "+descriptionSV)
                console.log("Link: "+linkSV)


    
                $.post("/api/add/book" , article , function(res){
                    console.log(res)
                })



            });
        });
    });



</script>