<h1>Your Saved Articles</h1>

 <div class="container">
        <div class="row">

            {{#each news as |ev|}}

            <div class="card col-md-6" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ev.newsHeadLine}}</h5>
                    <p>{{ev.summary}}</p>
                    <a  class="card-link btn" href={{ev.link}} id="deleteBtn"
                        style="background-color: darkblue; color:white">Read More</a>
                   
                </div>
            </div>
            {{/each}}
        </div>
    </div>
<script src="../../assets/javascript/saved.js"></script>